/* Global Styles */
body {
  display: flex;
  justify-content: center;
}

.completed {
  color: gray;
  text-decoration: line-through;
}

#container {
  /* margin: 0 auto; */
  width: 360px;
  border: 2px solid gray;
}
